{% extends 'base.html' %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="col-lg-12">

      <blockquote class="blockquote text-center" id="lead-quote-blockquote">
        <p class="lead mb-0" id="lead-quote">
        <em>
        Blockquote blockquote blockquote, something blockquote.
        </em>
        </p>
      </blockquote>

      <p>&nbsp;</p>

      <h1>1972 World Series Game 4</h1>

      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo quam, auctor quis magna et,
      ullamcorper efficitur massa. Curabitur quis purus cursus ex porttitor ultrices non vel magna. Donec
      vestibulum iaculis turpis ac pharetra. Maecenas facilisis risus eget convallis rutrum. Nulla facilisi.
      Pellentesque sollicitudin ligula vitae augue placerat fringilla. Praesent aliquam tellus a tortor
      sollicitudin, at blandit arcu porta. Mauris et feugiat augue, at interdum urna. Mauris condimentum nunc
      dolor, nec pharetra tortor ultricies eget. Etiam ac felis leo. Suspendisse tempor, dui quis tincidunt
      ultricies, purus ligula feugiat orci, et interdum turpis magna sed orci. Nulla ligula quam, varius sit amet
      tortor eu, consectetur ultricies mauris. Mauris mauris turpis, bibendum ut orci quis, volutpat blandit dolor. 
      </p>
      <p><a href="about1972.html">More about the 1972 World Series &#8594;</a>
      </p>

      <p><a href="#">Watch Game 4 of the 1972 World Series on YouTube &#8594;</a>
      </p>

      <p>&nbsp;</p>

      <h1>Dipping into the Pool of Infinite Timelines</h1>

      <p> Curabitur eget leo sed sem auctor semper vitae eu magna. Cras pretium nisl ac fermentum dictum. Aenean
      eleifend ante a tellus mollis, vitae blandit quam venenatis. Suspendisse consequat lobortis purus non
      molestie. Morbi sem ipsum, fringilla vitae dolor a, sollicitudin rutrum lectus. Donec ullamcorper massa at
      purus dictum porta. Maecenas elementum dui scelerisque tempus bibendum. 
      </p>
      <p><a href="#">More about Out of the Park Baseball simulations for Infinite Cincinnati &#8594;</a>
      </p>

      <p>&nbsp;</p>

    </div>
  </div>

  <!--
  <div class="row">
    <div class="col-lg-12">

        <h1>Pages</h1>

        <p><a href="#">Something &#8594;</a>
        </p>

        <p>&nbsp;</p>

    </div>
  </div>
  -->

  <div class="row">
    <div class="col-lg-12">

        <h1>Alternate Timelines</h1>

        <p>The following table is a list of timelines, winners and losers, and final score.
        </p>
        <p>Click "Box Score" button to view that timeline's game recap, WPA graph, and hitting and pitching summaries.
        </p>
        <p>Click "Play By Play" to view that timeline's pitch-by-pitch, play-by-play log of the game.
        </p>
        <p>We simulated the alternate timelines in the format of a best-of-101 series between Cleveland and Florida.
        Cleveland took the series 51-18 in 69 games.
        </p>

        <!-- BEGIN INFINITE CINCINNATI TABLE -->

        <table class="table" style="text-align: center; border: 1px solid black;">
            <thead>
                <tr>
                    <th width="150">Game</th>
                    <th>Winnner</th>
                    <th width="150">Score</th>
                    <th>Loser</th>
                    <th width="150">Innings</th>
                    <th width="300">Links</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        Timeline X
                    </td>
                    <td style="background-color: #d50032; color: #eee; font-weight: bold;">Cincinnati</td>
                    <td>6-5</td>
                    <td style="background-color: #00843d; color: #ffcd00;">Oakland</td>
                    <!--
1,"Cincinnati 1972","CIN1972","Reds","cincinnati_1972_reds.png",13776,1,100,0,0,206,0,1,0,1,1,0,"#D50032","#FFFFFF","#D50032","#FFFFFF","#FFFFFF","#AAAAAA","#D50032","#D50032",0,"CIN"
2,"Oakland 1972","OAK1972","Athletics","oakland_1972_athletics.png",56459,2,100,1,0,206,0,1,0,1,1,0,"#00843D","#FFCD00","#00843D","#FFCD00","#FFFFFF","#AAAAAA","#00843D","#00843D",0,"OAK"
                    -->
                    <td>(10)</td>
                    <td>
                        <a style="text-decoration: none;" href="almanacs/infinite_cincinnati_X/box_scores/game_box_1.html">
                        <button class="btn btn-small btn-secondary">Box Score</button>
                        </a>
                        <a style="text-decoration: none;" href="almanacs/infinite_cincinnati_X/game_logs/log_1.html">
                        <button class="btn btn-small btn-secondary">Play By Play</button>
                        </a>
                    </td>
                </tr>


            </tbody>
        </table>
        <!-- END INFINITE CINCINNATI TABLE -->
    </div><!-- col12 -->
  </div><!-- row -->
</div><!-- container -->

{% endblock %}
